.button {
  background-color: #4f4fff;
  border: none;
  color: white;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 30px;
  line-height: 2.4rem;
  font-weight: 500;

  &:disabled {
    opacity: 0.5;
  }

  &.secondary {
    background-color: transparent;
  }
}
