.navbar {
  background-color: #1b1b1b;
  padding: 1.1rem 0;
}

.navbarContainer {
  margin: 0 auto;
  max-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBarButton {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  border-radius: 30px;
}

.signUpButton {
  background-color: #4f4fff;
}
