.navbar {
  background-color: #1b1b1b;
  padding: 2.8rem 0;
}

.logo {
  width: 5.08rem;
  height: 5.6rem;
}

.container {
  margin: 0 auto;
  max-width: 110rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 30px;
  line-height: 2.4rem;
  font-weight: 500;
  margin-left: 1.6rem;
}

.signUpButton {
  background-color: #4f4fff;
}
